proyectoDPL/plantillas/form.html
<!DOCTYPE html>
<html lang="es">
<head>
		<link href="../public/css/index.css" rel="stylesheet" />
		<title>Banderas</title>
		<meta charset="UTF-8" />
		<link href="css/form.css" rel="stylesheet" />

		<script src="js/EditorBandera.js"></script>		
</head>
<body>
		<header>
				<div>
					<h1>BanderasSA</h1>	
				</div>
				
				<div>
					<button>Conectar</button>
					<button>Registrar</button>
				</div>
		</header>

		<div id="container">
			<div style="display:flex;justify-content:space-between;padding-top:10px;">
					<div>
						<div>
							<input style="margin-left:11px;" id="banderaNombre" placeholder="Nombre de la bandera" />
							<select onchange="EditorBandera.setDirection(this.value);" id="banderaDir">
									<option value="horizontal">Horizontal</option>
									<option value="vertical">Vertical</option>
							</select>
						</div>
						<div>
							<canvas style="border:1px solid gray;width:300px;height:300px;" id="lienzo"></canvas>
						</div>
					</div>

					<div>
						<div style="border-left:4px solid gray;display:inline-block;vertical-align:top;border-right:4px solid gray;border-radius:2px;">
							<div style="background-color:gray;padding:4px;color:white;">Colores Bandera</div>


							<div id="list_editor_body" style="">
							
							
							</div>

							<div style="background-color:gray;padding:3px;">
									<button onclick="EditorBandera.addLineColor();">Crear</button>
									<button onclick="EditorBandera.popColor();">Eliminar</button>
							</div>		
						</div>
							<div id="containerBox"></div>

					</div>
			</div>
		</div>
</body>
</html>

proyectoDPL/views/form.pug
doctype html
head
  link(href='css/index.css' rel='stylesheet')
  title Banderas
  meta(charset='UTF-8')
  link(href='css/form.css' rel='stylesheet')
  script(src='js/EditorBandera.js')
  script(src='js/LinksMethods.js')
  script="let e_id = '"+id+"'; let action='"+texto+"'; let e_nombre = '"+nombre+"'; let e_dir = '"+dir+"'; let e_color = '\""+colors+"\"'.split(',');"

header
  div
    h1 BanderasSA
  div
    a.button( href='.' ) Inicio
    a.button( href='javascript:EditorBandera.saved();' style='margin-left:10px;') Guardar Bandera
    a#button_delete.button(data-method = "delete" style='display:none;margin-left:5px;' ) Borrar
#container
  div(style='display:flex;justify-content:space-between;padding-top:10px;')
    div
      h1=action
      div
        input#banderaNombre(style='margin-left:11px;' placeholder='Nombre de la bandera')
        select#banderaDir(onchange='EditorBandera.setDirection(this.value);')
          option(value='horizontal') Horizontal
          option(value='vertical') Vertical
      div
        canvas#lienzo(style='border:1px solid gray;width:300px;height:300px;')
    div
      div(style='border-left:4px solid gray;display:inline-block;vertical-align:top;border-right:4px solid gray;border-radius:2px;')
        div(style='background-color:gray;padding:4px;color:white;') Colores Bandera
        #list_editor_body(style='')
        div(style='background-color:gray;padding:3px;')
          button(onclick='EditorBandera.addLineColor();') Crear
          button(onclick='EditorBandera.popColor();') Eliminar
      #containerBox
